{
  "service": {
    "name": "monitoring-grafana",
    "port": {{ grafana_port }},
    "address": "{{ ansible_hostname }}.{{ ansible_domain }}",
    "meta": {
      "__metrics_path__": "/metrics",
      "__scheme__": "http"
    },
    "checks": [
      {
        "args": ["curl","-s","-L","-o","/dev/null","-w","%{http_code}","-LI","localhost:{{ grafana_port }}/metrics"],
        "interval": "60s",
        "timeout": "10s"
      }
    ],
    "tags": [
      "prometheus",
      "metrics"
    ]
  }
}
